* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background: hsl(212, 45%, 89%);
  margin-top: 200px;
}

.card {
  background: white;
  width: 300px;
  height: 450px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
  width: 280px;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 700;
}

p {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}
